@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-image: linear-gradient(to top, #0a151b, #133447); */
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-image: linear-gradient(to bottom, rgb(38, 21, 21), rgb(46, 25, 25));
}

header img {
    height: 80%;
}

#first {
    background-color: #2e1919;
    padding: 30px 0px;
}

#first span {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: inline;
    text-align: center;
    color: black;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 170, 25);
}

#first p {
    color: white;
    width: 60vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 40px auto;
    font-weight: bold;
    text-align: center;
}

.vdo {
    width: 100%;
    height: 45vh;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

.vdo>iframe {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

/* button */
.centrButt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(37, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: hsl(37, 80%, 48%) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: hsl(37, 88%, 35%);
    color: hsl(0, 0%, 100%);
    box-shadow: hsl(37, 88%, 35%) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

#lock {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Separação*/


.sepr {
    background: white url('../img/lll.png') no-repeat center bottom;
    background-size: cover;
    min-height: 30vh;
    width: 100%;
}

/* Second */

#second {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

#hows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

h2 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

h2 strong {
    background-color: red;
    padding: 2px;
    border-radius: 10px;
}

#tet p {
    font-size: 1.4em;
    margin-top: 20px;
}

#mteam {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

}

#mteam img {
    width: 70%;
}

.vant {
    min-height: 70vh;
    background: black center center no-repeat fixed;
    background-image: url('../img/pexels.jpg');
    background-size: cover;
    color: white;
    padding: 50px 0px;
}

.vant h2 {
    text-align: center;
}

.vant h3 {
    color: rgb(255, 204, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

.center {
    margin: auto;
    width: 70vw;
}

.vantiv {
    display: block;
    width: 100%;
    margin: auto;
    padding: 20px;
    margin: 30px 0px;
    font-size: 1.2em;
}

.direit {
    text-align: end;
}

.vant button {
    font-size: 1.5em;
}

#term {
    text-align: center;
    font-size: 0.7em;
}

#term a {
    color: blue;
}

/* Four */

.four {
    position: relative;
    background-color: rgb(212, 218, 228);
    min-height: 100vh;
    padding: 40px 0px;
}

.four strong {
    background-color: rgb(255, 204, 0);
}

.four h2 {
    text-align: center;
    margin: 50px;
}

.centr {
    margin: 40px 0px;
}

#faixa {
    width: 100%;
    height: 30vh;
    background-color: #c16363;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

#resul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.resIma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    min-height: 80vh;
    width: 23%;
    background-color: rgb(60, 60, 60);
    border-radius: 40px;
    z-index: 1;
    overflow: hidden;
}

.dhed {
    min-height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    width: 30%;
    height: 10px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px 20px 0px 0px;
}

.tela {
    margin: auto;
    width: 90%;
    min-height: 65vh;
    border: 1px solid black;
    background-color: white;
}

#t1 {
    background: white url('../img/print01.png') no-repeat center bottom;
    background-size: cover;
}

#t2 {
    background: white url('../img/print02.png') no-repeat center center;
    background-size: cover;
}

#t3 {
    background: white url('../img/print03.png') no-repeat center bottom;
    background-size: cover;
}

.dfoot {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    padding: 20px;
    width: 100%;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
}

#acomen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 40vh;
    width: 95%;
    margin: auto;

}

.come {
    max-width: 23%;
    min-height: 40vh;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.come p {
    color: rgb(115, 115, 115);
    text-align: center;
    font-size: 1.2em;
}

#redon1,
#redon2,
#redon3,
#redon4 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

#redon1 {
    background: black url('../img/person001.jpg') center center no-repeat;
    background-size: cover;
}

#redon2 {
    background: black url('../img/person002.jpg') center center no-repeat;
    background-size: cover;
}

#redon3 {
    background: black url('../img/person003.png') center center no-repeat;
    background-size: cover;
}

#redon4 {
    background: black url('../img/person004.jpg') center center no-repeat;
    background-size: cover;
}

.person {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.pabout p {
    font-size: 0.8em;
    color: rgb(115, 115, 115);
}

.pabout h4 {
    color: rgb(29, 197, 29);
}

/* convert */

#convert {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

}

#em {
    font-size: 1.8em;
}

#desconto {
    font-size: 1.8em;
}

#blk {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 3px;
}

#corte {
    text-decoration: line-through;
    color: rgb(49, 49, 49);
    font-size: 0.9em;
}

#apenas {
    font-size: 1.6em;
    color: rgb(59, 59, 59);
    font-weight: bold;
    text-decoration: underline;
}

#convert h3 {
    font-size: 8em;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#convert button {
    background-color: hsl(37, 82%, 54%);
    font-size: 1.2em;
}

/* Acordions */
#perguntas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 40px 0px;
}
#perguntas h2{
    font-size: 2.5em;
    margin-bottom: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    color: white;
}

.accordion_item {
    border-radius: 5px;
    background-color: #54595F;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion_item:hover {
    opacity: 0.9;
}

.accordion_header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.accordion_content {
    margin-left: 50px;
    margin-right: 15px;
    overflow: hidden;
    height: 0;
    transition: all .5s ease;
    font-size: 0.9em;
}

.active {
    padding-bottom: 10px;
}

span,
.icon {
    font-weight: 600;
}

footer{
    background-color: #54595F;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
    color: white;
}