@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Sarala:wght@400;700&family=Young+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fonte-logo: Agbalumo, sans-serif;
    --fonte-padrao: Sarala, sans-serif;
    --fonte-destaque: Young Serif, serif;

    --cor01: #0D2738;
    --cor02: #3B5F78;
    --cor03: #88A5B8;
    --cor04: #8C7350;
    --cor05: #38260D;
    --cor-destaque: #f39c12;
    --preto-padrao: #2c3e50;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--preto-padrao);
    font-family: var(--fonte-padrao);
}
ul{
    list-style: none;
}
nav a {
    font-size: 18px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  nav a:focus,
  nav a:hover {
    color: black;
  }
  
  nav a:focus:after,
  nav a:hover:after {
    width: 100%;
    left: 0%;
  }
  
  nav a:after {
    content: "";
    pointer-events: none;
    bottom: -1px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--cor2);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }