/* Load */
/*
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f275;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s;
}

.content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    transform: translateY(20px);
}

.show-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/*loader */
.semicircle,
.semicircle div {
    /*  ajuste do tamanho */
    width: 170px;
    height: 170px;
    /* Ajuste do tempo da animação */
    animation: 6s rotate141 infinite linear;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.semicircle div {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.semicircle:before,
.semicircle div:before {
    content: '';
    width: 100%;
    height: 50%;
    display: block;
    background: radial-gradient(transparent, transparent 65%, var(--cor01) 65%, #000);
    background-size: 100% 200%;
}

@keyframes rotate141 {
    to {
        transform: rotate(360deg);
    }
}
body{
    position: relative;
}
.goBack{
    position: absolute;
    bottom: 15px;
    right: 15px;
    position: fixed;
    height: 70px;
    width: 70px;
    background-color: aqua;
    border-radius: 50%;
}
main {
    padding: 20px;
}

/* Conteudo */
.conteudo {
    min-height: 100vh;
}

h1 {
    width: 40%;
    text-align: center;
    padding-bottom: 20px;
    margin: 20px auto 20px;
    font-family: var(--fonte-logo);
    border-bottom: 0.7px solid black;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    margin: 10px 0px;
    font-family: var(--fonte-destaque);
    padding: 10px;
    color: black;
}

/* Pesquisar placa */
.pesqu {
    width: 60%;
    margin: auto;
    border-radius: 50% 50% 10% 10%;
}


.cont {
    width: 400px;
    height: 100px;
    background-color: white;
    border: 7px solid rgb(30, 30, 30);
    border-radius: 20px;
    position: relative;
    margin: 20px auto;
}

.bt {
    width: 100%;
    height: 35%;
    background-color: rgb(0, 78, 195);
    border-radius: 14px 14px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.br {
    height: 10%;
    width: 100;
}

.bt p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px;
}

.bb p {
    position: absolute;
    bottom: -15px;
    left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1.3em;
    font-weight: bold;
}

input {
    display: block;
    margin: auto;
    width: 80%;
    height: 55%;
    border: none;
    font-size: 3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

input:focus {
    border: none;
    outline: none;
}

.bt img {
    width: 35px;
}
/* button submit */

.btn {
    display: block;
    margin: auto;
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 10px;
    color: var(--preto-padrao);
    font-weight: bold;
    font-size: 1.4em;
    position: relative;
    transition: .5s ease;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--cor05);
    transition: .5s ease;
  }
  
  .btn:hover {
    color: var(--preto-padrao);
    transition-delay: .5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: var(--cor-destaque);
    transition: .4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
    border-radius: 5px 5px 0px 0px;
  }

/* Informações */
#pingo{
    display: none;
    margin: 20px auto 0px;
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent; /* Lado esquerdo transparente */
    border-right: 50px solid transparent; /* Lado direito transparente */
    border-bottom: 100px solid #ededed; /* Lado inferior colorido */
}
.info{
    display: none;
    width: 80%;
    height: calc(100vh - 25vh);
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.432);
}
.info img{
    display: block;
    margin: 0px auto 10px;
    max-width: 100px;
    border-bottom: 1px solid black;
}

.autoInfo{
    padding: 20px;

}
.autoInfo:nth-child(1){
    border-right: 1px solid black;
}

.autoInfo p{
    font-size: 1.2em;
}
#user{
    margin-top: 10px;
    text-align: center;
}

/* Outros */
.outros {
    height: 100vh;
    padding: 20px;  
}
.goTo{
    cursor: pointer;
}
/* Footer  */
footer{
    background-color: var(--cor03);
    height: 10vh;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.espaco{
    height: 5000px;
    width: 100%;
    background-color: aquamarine;
}
.ancora{
    height: 40vh;
    width: 100%;
    background-color: pink;
}