@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas telas: vão até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/
/* Configurações padrão */


/* Estilização: cabeçalho */

article{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #141e30, #243b55);
} 
.boa{
  max-width: 100vh;
  color: white;
  margin-bottom: 30px;
}
.boa h1{
  text-align: center;
  margin: 100px 0px 20px 0px;
  font-size: 3em;
}
.agendar {
  min-width: 30vw;
  padding: 40px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  background: rgba(0,0,0,.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.agendar h2 {
  color: #fff;
  text-align: center;
}
.agendar p{margin-bottom: 30px;}
.agendar .user-box {
  position: relative;
}

.agendar .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.agendar .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.agendar .user-box input:focus ~ label,
.agendar .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.quand{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: white;
  padding: 10px;
}
.quand label{
  display: block;
  text-align: center;
}
.quand input{
  color: white;
  background-color: rgba(86, 173, 239, 0.351);
  width: 40%;
  padding: 7px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #03e9f4;
}
.quand input:focus{
  box-shadow: 0px 0px 20px #03e9f4;
  border: none;
  transition: .2s;
}

.finish{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.finish input{
  box-shadow: 0px 0px 3px #03e9f4;
  padding: 10px;
  background-color: transparent;
  color: #03e9f4;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.finish input:nth-child(2){
  box-shadow: 0px 0px 3px red;
  color: red;
}
.finish input:nth-child(1):hover{
  background-color: #03e9f4;
  box-shadow: 0px 0px 15px 6px #03e9f4;
  color: #141e30;
  font-weight: bolder;
  transition: 0.5s;
}
.finish input:nth-child(2):hover{
  background-color: rgb(253, 0, 0);
  box-shadow: 0px 0px 15px 6px rgb(255, 0, 0);
  color: black;
  font-weight: bolder;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .agendar{
    min-width: 80vw;
    max-width: 90vw;
  }
}