@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #F74A4A;
    --cor02: #DE0000;
    --cor03: #AB0000;
    --cor04: #891C1C;
    --cor05: #340000;

    --font-padrão: 'Poppins', sans-serif;
    --font-destaque: 'Lobster', cursive;
}

main {
    background-color: black;
}

/* Primeira parte do site */
.principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
    box-shadow: inset 0 -20px 300px 100px black;
    background: black url('../img/Netflix-Background-85.jpg') center center no-repeat fixed;
    background-size: cover;
}

.principal img {
    width: 75%;
}

.principal div {
    text-align: center;
}

h1 {
    font-family: var(--font-destaque);
    text-align: center;
    font-size: 3em;
    color: var(--cor03);
    margin-bottom: 20px;
}

p {
    font-family: var(--font-padrão);
    font-size: 1.2em;
    line-height: 1.5em;
    color: #bfbfbf;
}
/* Botão acessar */
button {
    position: relative;
    margin-top: 15px;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: var(--cor02);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 10px var(--cor02), 0 0 25px var(--cor05), 0 0 50px var(--cor02);
    transition-delay: 0.6s;
}

button span {
    position: absolute;
}

button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--cor01));
}

button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--cor03));
}

button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
}

button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--cor01));
}

button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--cor03));
}

button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
}

button:active {
    background: var(--cor02);
    background: linear-gradient(to top right, var(--cor02), var(--cor03));
    color: #bfbfbf;
    box-shadow: 0 0 8px var(--cor01), 0 0 8px var(--cor03), 0 0 8px var(--cor01);
    transition: 0.1s;
}

button:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2) {
    transition: none;
    transition-delay: none;
}

/*  Segunda parte do site  */

.second {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 70vh;
    box-shadow: 0px -20px 200px 100px black;
    color: white;
}
.second div{
    width: 45%;
}
h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.7em;

}