@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    min-height: 15vh;
    background-color: #1c221c;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 1.2em;
    color: #299d43;
    gap: 20px;
}
header img{
    width: 100px;
}
footer{
    min-height: 10vh;
    background-color: #758775;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 0.9em;
    font-weight: bold;
    color: white;
}
.container{
    width: 80vw;
    margin: auto;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
    margin: 20px 0px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.col{
    flex-basis: 20%;
}
.item{
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
}
.item::before{
    width: 91%;
    height: 0px;
    content: '';
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    transition: 0.3s;
}
.item:hover::before{
    height: 90%;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.479);
}
.item h3{
    text-align: center; 
    margin-top: 5px;
}
.item p{
    text-align: center;
}
.img img{
    width: 100%;
    height: 100%;
}
.img p{
    background-color: white;
}

@media screen and (max-width: 800px) {
    .col{
        flex-basis: 100%;
    }
    
}