@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --cor1:
}

header{
    height: 10vh;
    width: 100vw;
    background-color: rgb(14, 17, 28);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: fixed;
}
header a{
    color: white;
    text-decoration: none;
}
header img{
    width: 30px;
}
body{
    background-color: rgba(14, 17, 28, 0.897);
}
.helcome{
    height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.line{
    font-size: 2em;
    font-family: "Special Elite", system-ui;
    color: rgba(255, 255, 255, 0.786);
    border-right: 2px solid rgba(255, 255, 255, 0.786);
    padding-right: 3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: border infinite steps(40) 0.8s normal, typing 4s steps(40) 1s normal both;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 18em;
    }
}
@keyframes border {
    from{
        border-right-color: rgba(255, 255, 255, 0.786);
    }
    to{
        border-right-color: transparent;
    }
    
}
.stacks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vh;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
}

svg{
    width: 50px;
    filter: grayscale(90%);
    transition: 0.2s;
    cursor: pointer;
}
svg:hover{
    filter: grayscale(0%);
}