* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(48, 7, 60) url('../img/wallLogin.jpg') center center no-repeat;
    background-size: cover;
    font-family: var(--fonte-padrao);
    line-height: 1.5;
}

.container {
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.382);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    color: black;
}

.areaLogin {
    width: 65%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.areaConvert {
    width: 35%;
    height: 60vh;
    background-color: var(--cor1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-family: var(--fonte-destaque);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.btn:hover {
    background-color: #45a049;
}




.separador {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.separador hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.google-login-button {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: 15px auto;
}


.gap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
}

.input_label {
    font-size: 0.75rem;
    color: #000000;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: rgb(203, 203, 203);
}

/* form cadastro  */

.textCad {
    text-align: center;
    font-size: 0.8em;
    color: rgb(27, 27, 27);
}

.strCad {
    color: var(--cor1);
    cursor: pointer;
}

.cadDiv {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.323);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.cadastro {
    width: 35%;
    height: 80%;
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
}

.cadastro form {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dobleInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dobleInput input {
    width: 100%;
}
.cadastro input{
    padding: 7px;
    font-size: 1.2em;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(55, 55, 55);
    background-color: #333;
    color: white;
    transition: 0.2s;
}

.cadastro input:focus{
    border: 2px solid var(--cor4);
}