
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cor2);
    color: white;
    text-decoration: none;
}
.lep{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav > div{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
h1{
    font-family: var(--fonte-destaque);
}
h1 a{
    color: white;
    text-decoration: none;
}
h1 a:hover{
    color: white;
    text-decoration: none;
}
.sair, .entrar{
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.3s;
}
.sair:hover{
    color: red;
}
.entrar:hover{
    color: rgb(19, 139, 0);
}
.perfil img{
    width: 35px;
}
.perfil{
    margin-right: 10px;
}